<div class="col col-xl-12 col-sm-12 col-md-6 ">
  <div class="card " style="height: 191px;">
    <div class="card-body">

      <div class="row  container">
        <span>{{bill.value | number:'1.2'}}</span>

<!--        <div class="col-xl-12">-->
<!--          <span>{{bill.value | number:'1.2'}}</span>-->
<!--        </div>-->

<!--        <div class="col-xl-12">-->
<!--          <span >USD: {{usd | number:'1.2'}}</span>-->
<!--        </div>-->

<!--        <div class="col-xl-12">-->
<!--          <span>EUR: {{eur | number:'1.2'}}</span>-->
<!--        </div>-->

      </div>
    </div>
  </div>
</div>


