<div class="title-block">
  <h3 class="title">
    Records Page <span class="sparkline bar"></span>
  </h3>
</div>

<section class="section text-center" *ngIf="!isLoaded">
  <app-loader></app-loader>
</section>

<div *ngIf="isLoaded">
  <div class="row">

    <div class="col-md-4">
      <app-add-category></app-add-category>
    </div>

    <div class="col-md-4">
      <app-edit-category
        [categories]="categoriesUser"
        (onCategoryEdit)="categoryWasEdited($event)"
      ></app-edit-category>
    </div>

    <div class="col-md-4">
      <app-add-event [categories]="categoriesUser"></app-add-event>
    </div>

  </div>

  <div class="row">

  </div>

</div>
