
<div class="col col-xl-12 col-sm-12 col-md-6 ">
  <div class="card">
    <div class="card-body">
      <!--      <div class="title-block">-->
      <!--        <h4 class="title">Course</h4>-->
      <!--      </div>-->
      <div class="row row-sm container">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Currency</th>
            <th>Course</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>ILS</td>
            <td>1</td>
          </tr>
          <tr>
            <td>USD</td>
            <td>{{ usd | number: '1.2'}}</td>
          </tr>
          <tr>
            <td>EUR</td>
            <td>{{ eur | number: '1.2'}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
